<% if (notification.type === 'buzz') { %>
<div class="notification" >
    <span class="material-symbols-outlined notification-symbol">
        arrow_circle_up
    </span>
    <p><%= notification.message %></p>
    <span class="material-symbols-outlined notification-delete">
        delete
    </span>
</div>
<% } else if (notification.type === 'buzzspace') { %>
<div class="notification" >
    <span class="material-symbols-outlined notification-symbol">
        groups_2
    </span>
    <p><%= notification.message %></p>
    <span class="material-symbols-outlined notification-delete">
        delete
    </span>
</div>
<% } else if (notification.type === 'comment') { %>
<div class="notification" >
    <span class="material-symbols-outlined notification-symbol" style="font-size: 2.5rem;" >
        comment
    </span>
    <p><%= notification.message %></p>
    <span class="material-symbols-outlined notification-delete">
        delete
    </span>
</div>
<% } else if (notification.type === 'reply') { %>
<div class="notification" >
    <span class="material-symbols-outlined notification-symbol" style="font-size: 2.5rem;" >
        reply
    </span>
    <p><%= notification.message %></p>
    <span class="material-symbols-outlined notification-delete">
        delete
    </span>
</div>
<% } else if (notification.type === 'request') { %>
<div class="notification" >
    <span class="material-symbols-outlined notification-symbol" style="font-size: 2.5rem;" >
        add_moderator
    </span>
    <div class="request-notification" >
        <p><%= notification.request.user.username %> has requested to be a moderator at <a href="<%= `/buzzSpace/${notification.request.buzzspace}` %>"><%= notification.request.buzzspace %></a> </p>
        <button>Approve</button>
    </div>
    <span class="material-symbols-outlined notification-delete">
        delete
    </span>
</div>
<% } %>
    