<% 
function formatDate(dateString) {
  const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  
  const date = new Date(dateString);
  const month = months[date.getMonth()];
  const day = date.getDate();
  const year = date.getFullYear();

  const suffix = getDaySuffix(day);

  return `${month} ${day}${suffix} ${year}`;
}

function getDaySuffix(day) {
  if (day >= 11 && day <= 13) {
    return "th";
  }
  switch (day % 10) {
    case 1: return "st";
    case 2: return "nd";
    case 3: return "rd";
    default: return "th";
  }
}
%>

<div class="buzzSpace-main">
  <div class="buzzSpace-header">
    <img class="space-cover" src="<%= `uploads/${buzzSpace.cover}` %>" alt="">
    <div class="buzzSpace-header-inner">
      <div class="buzzSpace-header-inner-left">
        <div class="space-logo">
          <img src="<%= `uploads/${buzzSpace.logo}` %>" alt="">
        </div>
        <h1>
          <%= buzzSpace.name %>
        </h1>
      </div>
      <div class="buzzSpace-header-inner-right">
        <button>
          Join
        </button>
        <a href="<%= `/newbuzz?buzzSpace=${buzzSpace.name}` %>">
          <button>New Buzz</button>
        </a>                              
      </div>
    </div>
  </div>
  
  <div class="buzzSpace-content">
    
    <div class="space-buzzs-container">
      <% buzzes.map((buzz, index)=> { %>
        <%-  include('components/buzz', { buzz: buzz, index: index })  %>
        <% }); %>
      </div>
      <div class="buzzSpace-info">
        <h2>About</h2>
        <p>
          <%= buzzSpace.description %>
        </p>
        <h5>created by</h5>
        <div class="space-info-creator">
          <img src="https://picsum.photos/100/100" alt="">
          <p>Talion</p>
            </div>
            <h5>created on</h5>
            <div class="space-info-creator">
                <span class="material-symbols-outlined">
                    event
                  </span>
                <p><%= formatDate(buzzSpace.createdOn) %></p>
              </div>
            </div>
    </div>

</div>