<% const buzzs = [ 
  { 
    buzzSpace : "testSpace",
    buzzedon: "2024-02-20 12:10:00",
    title: "A long Title",
    user: "KingKhan",
    votes: 15,
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nulla in illum quis laudantium magnam, facere rem optio sed magni.",
    comments: [
      {
        user: "Alice",
        comment: "This is the first comment.",
        votes: 100,
        commentedon: "2024-02-22 9:00:00",
        replies: [
          {
            user: "Bob",
            comment: "Reply to the first comment.",
            votes: 10,
            commentedon: "2024-02-22 10:05:00",
            replies: [
              {
                user: "Alice",
                comment: "Reply to Bob's reply.",
                votes: 10,
                commentedon: "2024-02-22 12:10:00",
                replies: [] // No further replies
              }
            ]
          },
          {
            user: "Charlie",
            comment: "Another reply to the first comment.",
            votes: 10,
            commentedon: "2024-02-22 11:07:00",
            replies: []
          }
        ]
      },
      {
        user: "David",
        comment: "Second comment without replies.",
        votes: 10,
        commentedon: "2024-02-22 10:15:00",
        replies: [] // No replies for this comment
      }
    ]
  },
  { 
    buzzSpace : "testSpace2",
    buzzedon: "2024-02-21 14:20:00",
    title: "Another Long Title",
    user: "KingKhan",
    votes: 20,
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nulla in illum quis laudantium magnam, facere rem optio sed magni.",
    comments: [
      {
        user: "Eve",
        comment: "This is the first comment on the second buzz.",
        votes: 50,
        commentedon: "2024-02-21 15:30:00",
        replies: [
          {
            user: "Frank",
            comment: "Reply to the first comment on the second buzz.",
            votes: 15,
            commentedon: "2024-02-21 16:45:00",
            replies: [
              {
                user: "Eve",
                comment: "Reply to Frank's reply.",
                votes: 5,
                commentedon: "2024-02-21 18:20:00",
                replies: [] // No further replies
              }
            ]
          }
        ]
      }
    ]
  },
  { 
    buzzSpace : "testSpace3",
    buzzedon: "2024-02-22 08:45:00",
    title: "Short Title",
    user: "KingKhan",
    votes: 10,
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nulla in illum quis laudantium magnam, facere rem optio sed magni.",
    comments: []
  },
  { 
    buzzSpace : "testSpace4",
    buzzedon: "2024-02-23 10:30:00",
    title: "Title with No Comments",
    user: "KingKhan",
    votes: 5,
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nulla in illum quis laudantium magnam, facere rem optio sed magni.",
    comments: []
  },
  { 
    buzzSpace : "testSpace5",
    buzzedon: "2024-02-23 13:15:00",
    title: "Title with Multiple Comments",
    user: "KingKhan",
    votes: 30,
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nulla in illum quis laudantium magnam, facere rem optio sed magni.",
    comments: [
      {
        user: "Grace",
        comment: "First comment on the fifth buzz.",
        votes: 25,
        commentedon: "2024-02-23 14:00:00",
        replies: []
      },
      {
        user: "Henry",
        comment: "Second comment on the fifth buzz.",
        votes: 20,
        commentedon: "2024-02-23 15:30:00",
        replies: []
      }
    ]
  }
];

const buzzSpaces = [
  {
    name: 'testSpace',
    image : "https://picsum.photos/100/100",
    id: 1,
    joined: 22000
  },
  {
    name: 'testSpace1',
    image : "https://picsum.photos/100/100",
    id: 2,
    joined: 25000
  },
  {
    name: 'testSpace2',
    image : "https://picsum.photos/100/100",
    id: 3,
    joined: 220
  },
  {
    name: 'testSpace3',
    image : "https://picsum.photos/100/100",
    id: 3,
    joined: 100
  },
  {
    name: 'testSpace4',
    image : "https://picsum.photos/100/100",
    id: 4,
    joined: 550000
  },
  {
    name: 'testSpace5',
    image : "https://picsum.photos/100/100",
    id: 5,
    joined: 2200
  },
  {
    name: 'testSpace6',
    image : "https://picsum.photos/100/100",
    id: 6,
    joined: 500
  },
  {
    name: 'testSpace7',
    image : "https://picsum.photos/100/100",
    id: 7,
    joined: 75000
  },
  {
    name: 'testSpace8',
    image : "https://picsum.photos/100/100",
    id: 8,
    joined: 1234567
  },
  {
    name: 'testSpace9',
    image : "https://picsum.photos/100/100",
    id: 9,
    joined: 9999
  },
  {
    name: 'testSpace10',
    image : "https://picsum.photos/100/100",
    id: 10,
    joined: 123
  },
  {
    name: 'testSpace11',
    image : "https://picsum.photos/100/100",
    id: 11,
    joined: 987654321
  },
  {
    name: 'testSpace12',
    image : "https://picsum.photos/100/100",
    id: 12,
    joined: 777777
  },
  {
    name: 'testSpace13',
    image : "https://picsum.photos/100/100",
    id: 13,
    joined: 8888888
  },
  {
    name: 'testSpace14',
    image : "https://picsum.photos/100/100",
    id: 14,
    joined: 111111
  },
  {
    name: 'testSpace15',
    image : "https://picsum.photos/100/100",
    id: 15,
    joined: 999
  }
]

%>

<div class="home">
  

  <div class="home-buzzs-container">
    <% buzzs.map((buzz, index)=> { %>
      <%- include('components/buzz', { buzz: buzz, index: index }) %>
        <% }); %>
  </div>
  <div class="home-right-cover">

    <div class="home-right">
      <div class="home-new-buzz home-right-inner">
        <p>Share your thoughts through a buzz.</p>
        <a href="/newbuzz">
          <button>New Buzz</button>
        </a>
      </div>
      <div class="home-new-space home-right-inner">
        <p>Summon people to a new BuzzSpace!!</p>
        <a href="/newbuzzspace">
          <button>New BuzzSpace</button>
        </a>
      </div>
      <div class="home-right-bottom">
        <p>Not sure where you are?</p>
        <p>
          Learn more about HIVE at
          <a href="/faqs">FAQs</a>!
        </p>
      </div>
    </div>


      <div class="home-communities-container">
        <h2>
          Joined BuzzSpaces
        </h2>
        <ul>
          <% buzzSpaces.map((space)=> { %>
            <li>
              <a class="homeSpaces-item" href="<%= `/buzzSpace/${space.name}` %>">
                <img src="<%= space.image %>" alt="<%= space.name %>">
                <div class="homeSpaces-item-inner">
                  <h4>
                    <%= space.name %>
                  </h4>
                  <p>Sports</p>
                </div>
              </a>
            </li>
            <% }); %>
        </ul>
      </div>
  </div>
</div>