<div class="category-pills-container">
  <div class="category-pills" id="categoryPills">
  </div>
 
</div>
<div class="home">

  <div class="home-buzzs-container">
    <% buzzes.map((buzz, index)=> { %>
      <%- include('components/buzz', { buzz: buzz, index: index }) %>
    <% }); %>
  </div>

  <div class="home-right-cover">
    <div class="home-right">
      <div class="home-new-buzz home-right-inner">
        <p>Share your thoughts through a buzz.</p>
        <a href="/buzz/newbuzz">
          <button>New Buzz</button>
        </a>
      </div>
      <div class="home-new-space home-right-inner">
        <p>Summon people to a new BuzzSpace!!</p>
        <a href="/newbuzzspace">
          <button>New BuzzSpace</button>
        </a>
      </div>
      <div class="home-right-bottom">
        <p>Not sure where you are?</p>
        <p>
          Learn more about HIVE at
          <a href="/faqs">FAQs</a>!
        </p>
      </div>
    </div>

    <div class="home-communities-container">
      <h2>Joined BuzzSpaces</h2>
      <ul>
        <% joinedSpaces.map((space) => { %>
          <li>
            <a class="homeSpaces-item" href="<%= `/buzzSpace/${space.name}` %>">
              <img src="<%= `uploads/${space.logo}` %>" alt="<%= space.name %>">
              <div class="homeSpaces-item-inner">
                <h4><%= space.name %></h4>
                <p><%= space.category %></p>
              </div>
            </a>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
</div>

<!-- Category Pills Carousel JavaScript -->
<script>
  const categories = [
    "animals",
    "architecture",
    "art",
    "beauty",
    "books",
    "business",
    "cars",
    "celebrities",
    "cooking",
    "crafts",
    "culture",
    "design",
    "diy",
    "education",
    "entertainment",
    "environment",
    "events",
    "fashion",
    "finance",
    "fitness",
    "food",
    "games",
    "gardening",
    "health",
    "history",
    "hobbies",
    "movies",
    "music",
    "nature",
    "news",
    "pets",
    "photography",
    "politics",
    "science",
    "space",
    "spirituality",
    "sports",
    "technology",
    "travel",
    "weather"
  ];

  const categoryPills = document.getElementById('categoryPills');

  const buttonWidth = 150; // Width of each category button

  function renderCategories() {
    categoryPills.innerHTML = '';

    categories.forEach(category => {
      const button = document.createElement('button');
      button.classList.add('category-button');
      button.textContent = category;

      // Create anchor tag
      const anchor = document.createElement('a');
      anchor.href = `/category/${category}`;

      // Append button to anchor
      anchor.appendChild(button);

      // Append anchor to categoryPills
      categoryPills.appendChild(anchor);
    });


  }


  renderCategories();
</script>