
<div class="profile-container">
    <div class="profile-top">
        <div class="profile-image">
          <%- include('components/avatar', { ind: user.info.avatar_index }) %>
        </div>
        <div class="profile-top-right">
          
          <h1><%= user.info.display_name %></h1>
          <span class="profile-username">
            <%= user.username %>
          </span>
          <div class="profile-bio">
            <%= user.info.bio %>
          </div>
          <div class="btn-container">
            <%- include('components/ProfilePage/editProfileForm') %>
            <%- include('components/ProfilePage/changeAvatar') %>
          </div>
          
        </div>
    </div>
    
    <div class="profile-count">
      <div class="buzz-count" onclick="toggleToBuzzes(this)" >
        Buzzes
        <span><%= user.info.buzz_count %></span>
      </div>
      <div class="buzzSpace-count" onclick="toggleToBuzzSpaces(this)" >
        BuzzSpaces
        <span><%= user.info.buzzSpace_count %></span>
      </div>
    </div>

    <div class="profile-buzz-container">
      <% buzzes.map((buzz, index)=> { if (buzz) {%>
        
      
        <%- include('components/buzz', { buzz: buzz, index: index }) %>
          <% }}); %>
    </div>
    
    <div class="profile-buzzSpaces-container">
      <% buzzSpaces.map((space, index)=> { %>
        <%- include('components/ProfilePage/profileBuzzSpace.ejs', { space }) %>
      <% }) %>
    </div>
            
</div>


<script>
  const toggleToBuzzes = (element) => {
    const profileCount = element.closest('.profile-count');
    profileCount.classList.remove('right');
    const profileBuzzContainer = document.querySelector('.profile-buzz-container');
    const profileBuzzSpacesContainer = document.querySelector('.profile-buzzSpaces-container');
    profileBuzzContainer.style.display = 'flex';
    profileBuzzSpacesContainer.style.display = 'none';
  }

  const toggleToBuzzSpaces = (element) => {
    const profileCount = element.closest('.profile-count');
    profileCount.classList.add('right');
    const profileBuzzContainer = document.querySelector('.profile-buzz-container');
    const profileBuzzSpacesContainer = document.querySelector('.profile-buzzSpaces-container');
    profileBuzzContainer.style.display = 'none';
    profileBuzzSpacesContainer.style.display = 'flex';
  }

</script>