<%
function formatJoined(number) {
  if (number >= 1000000) {
    return (number / 1000000).toFixed(1) + 'M';
  } else if (number >= 1000) {
    return (number / 1000).toFixed(1) + 'K';
  } else {
    return number.toString();
  }
}
%>
<a class="profile-buzzSpaces-item" href="<%= `/buzzSpace/${space.name}` %>">
    <img src="/uploads/<%= space.logo %>" alt="<%= space.name %>">
    <div class="profile-buzzSpaces-item-inner">
        <h2>
            <%= space.name %>
        </h2>
        <p>
            <span><%= space.category %></span>
            <span>
                <%= formatJoined(space.numberOfMembersJoined) %> Members
            </span>
        </p>
        <div class="profile-buzzSpaces-bio">
          <%= space.description %>
        </div>
    </div>
</a>